body {
    margin:0;
    background-color: #f8f8ff;
}

.navcontainer {
    overflow: hidden;
    background-color: #3174AF;
    position: fixed;
    top: 0;
    width: 100%;
    margin:0;
}

.navcontainer a {
    float:right;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin-right:10px;
}
.navcontainer a:hover {
    cursor: pointer;
    background: #175081;
    
}

.main {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
}
.grid-image {
    object-fit: cover;
    max-width:100%;

}

h1 {
    text-align: center;
    padding-top: 10%;
}

.main-search {
    text-align: center;
}

h2 {
    text-align: center;

}


.navcontainer .site-logo {
    float: left;
    margin-left: 2%;
}

footer {
    text-align: center;
    display: block;
    background-color: #3174AF;
    width: 100%;
    position: relative;
    
}
footer a {
    color: white;
    text-decoration: none;
    padding: 7px;
    display: inline-block;
}

footer a:hover{
    cursor: pointer;
    background: #175081;   
}

.sub-footer {
    text-align: center;
    display: block;
    background-color: #3174AF;
    width: 100%;
    position: absolute;
    bottom:0;
}

.sub-footer a { 
    color: white;
    text-decoration: none;
    padding: 7px;
    display: inline-block;
}

.sub-footer a:hover {
    cursor: pointer;
    background: #175081;   
}